p{
    color: aqua;
}
h2{
    color: aqua;
}
body{
    color: #626262;
    font-family: "Playfair Display", serif;
    font-size: normal;
    font-weight: 400;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.nav-list{
    font-size: 14px;
    line-height: 35px;
}